## ASSIGNMENT 1

# Question 1

In [1]:
name=input('Enter Name: ')
roll_number=int(input('Enter roll_number: '))
mark=int(input('Enter mark: '))
print('Name: ',name)
print('Roll_number: ',roll_number)
print('Mark: ',mark)

Enter Name: Raseena Rasak
Enter roll_number: 25
Enter mark: 50
Name:  Raseena Rasak
Roll_number:  25
Mark:  50

# Question 2

In [2]:
f=int(input('enter temperature in fahrenheit: '))
c=((f-32)*(5/9))
print('temperature in celsius= ',c)
a=int(input('enter temperature in celsius '))
b=a*9/5+32
print('temperature in fahrenheit ',b)

enter temperature in fahrenheit: 41
temperature in celsius=  5.0
enter temperature in celsius 37
temperature in fahrenheit  98.6

# Question 3

In [3]:
a=int(input('Enter first number '))
b=int(input('Enter second number '))
c=a*b
print('Product = ',c)

Enter first number 23
Enter second number 48
Product =  1104

# Question 4

In [4]:
message=input('enter the message ')
print('message')

enter the message Learn **Python** by Developing a **Website**
message

# Question 5

In [5]:
r=int(input('Enter the radius: '))
print('area = ',3.14*r*r)

Enter the radius: 6
area =  113.03999999999999

# Question 6

In [6]:
l1=[82,22,43,55,78]
a=int(input('the number to be inserted = '))
b=int(input('index= '))
print(l1,l1.insert(b,a))

the number to be inserted = 27
index= 4
[82, 22, 43, 55, 27, 78] None

# Question 7

In [7]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict['city']='Canada'

In [8]:

sample_dict

{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'Canada'}

# Question 8

In [9]:
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']

500

In [10]:
sample_dict['emp3']['salary']=8500

In [11]:
sample_dict

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

# Question 9

In [12]:
t1 = (10, 20, 43, 54, 56, 68)
t2=(t1[2],t1[3])
print('t2 =',t2)

t2 = (43, 54)

# Question 10

In [13]:
t1 = (50,10,60,70,50,83,567,50,81)
t1.count(50)

3